---
import {getCollection, getEntry} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
const entry = await getEntry("recipes", "basic-aeropress");
const { Content, headings } = await entry.render();

import "../../styles/common.scss";

export async function getStaticPaths() {
    const allRecipes = await getCollection("recipes");

    let paths = allRecipes.map((recipe) => {
        return {
            params: {
                slug: recipe.slug,
            },
        };
    });

    return paths;
}
---

<Layout title="{entry.title}">
    <main>
        <h1 class="text-gradient">{entry.data.title}</h1>
        <p>Method: {entry.data.brewingMethod}</p>
        <Content />
    </main>
</Layout>
