---

import Layout from "../../layouts/Layout.astro";
import "../../styles/common.scss";
import Card from "../../components/Card.astro";
---
<Layout title="Nanofoamer Pro">
    <main>
        <h1 class="text-gradient">The Nanofoamer Pro</h1>
        <Card title="Back to overview" href="/coffee" arrowDirection="left"></Card>

        <h2>What's a Nanofoamer?</h2>
        <p>
            The Nanofoamer Pro is essentially the big brother of the handheld Nanofoamers.
            It's a standalone milk frother that also heats the milk.
            <br/>

            However, unlike most milk frothers, the Nanofoamer Pro doesn't use a whisk.
            Instead, it uses a spinning magnet disc to create a good approximation of microfoam, which you'd normally only get by steaming milk with a full espresso machine.
            <br />
        </p>

        <h2>The order process</h2>
        <p>
            I ordered the Nanofoamer Pro from the BackerKit page, which resulted in me being part of the first batch of orders shipping out and getting a nice discount.
            <br />
            The price of the unit was <span class="text-gradient">130€</span>, with shipping included.
            Steep for a milk frother, but I am very lazy and heating my milk in a microwave makes me sad.
        </p>

        <h2>Shipping</h2>
        <p>
            The Nanofoamer Pro was shipped from Singapore on the 6th of September, 2023.
            <br />
            It would arrive at my doorstep on the 28th of December, 2023. It took <span class="text-gradient"><b>113 days (almost 4 months)</b></span> to arrive.
            <br />
            I honestly don't know how they managed to take so long.
            The shipment tracker was barely updated at all and was literally just a Coda page, grouping countries together.
            Funnily enough, Germany was among the first countries within the EU to receive the shipments from the EU warehouse. Other people waited even longer.
            <br />
            Very much not ideal.
        </p>

        <h2>Actual review</h2>
        <p>
            It's a good device overall. The three included flow controllers let you use normal milk or even oat milk with essentially equal results.
            <br />
            The heating element also functions nicely, but milk does absolutely stick to the bottom of the jug right over the spot where the heating elements sit and has to be scraped off with an included brush later on.
            <br />
            This would be a lot less annoying than it is if you could actually submerge the device under water. But you can't, the holes at the bottom go straight into the electronics, which would fry the device.
        </p>

        <h2>Problems</h2>
        <p>
            The first batch of Nanofoamers was shipped with a small fixable defect in the lids of the jugs.
            The screws were screwed in too tightly, which caused the magnet to lose connection with the motor. This caused what Subminimal calls a "spinout".
            <br />
            This was fixable with a pair of pliers and an allen key, but still annoying.
            The only way you could've found the solution was by reading the kickstarter comment section replies, which is probably the worst possible way to communicate a fix.
            <br />
            The lid is also rather... questionable. It's not easy to get on properly, and if it isn't, you will get another "spinout".
            <br />
            The best way I found was angling the lid at the tip and then pushing it down, but that's absolutely not good for the gasket long term.
        </p>

        <h2>Conclusion</h2>
        <p>
            I like the Nanofoamer Pro. It just really feels like it could have spent two more months in development. 
            <br />
            These issues feel glaringly obvious and I wonder how they didn't seem to get noticed. 
            It's the only device capable of making nice milk foam that doesn't require forever to heat up or a full-on espresso machine, but it does feel a bit like they rested on that feature too much.
            <br />
            It was worth it for me, but I'd wait until a new version is published, which Subminimal tends to do.
        </p>
    </main>
</Layout>

<style>


</style>