---

import ImageCard from "../components/ImageCard.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import swimsuit from "../../assets/swimsuit.png"
import chibi from "../../assets/chibi_trans.webp";
import desk from "../../assets/desk.png";

---

<Layout title="Gallery">
    <main>
        <Card title="Back to overview" href="/" arrowDirection="left"></Card>

        <h1>Cappuccino</h1>

        <ul>
            <ImageCard src={chibi} alt="Chibi variant of Cappuccino"  />
            <ImageCard src={desk} alt="Cappuccino sitting on a desk, drinking a coffee"  />
            <ImageCard src={swimsuit} alt="Cappuccino in a swimsuit" nsfw />

        </ul>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

</style>
