---

import ImageCard from "../components/ImageCard.astro";
import Layout from "../layouts/Layout.astro";

import chibi from "../../public/chibi_trans.webp";
---

<Layout title="Gallery">
    <main>
        <ImageCard src="chibi_trans.webp" alt="Chibi variant of Cappuccino" nsfw height="" />

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

</style>
