---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';

import fediringLogo from "../../assets/fediring.gif"
---

<Layout title="Latte's Homepage">
	<main>
		<h1><span class="text-gradient">Latte macchiato</span></h1>
		<h2>Welcome to my small homepage.</h2>
		<img src="/chibi_trans.webp" alt="Chibi drawing of Cappuccino" class="astro-a" />
		<p class="info-box">
			This site is very much work in progress.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="My Projects"
				body="What do I do all day?"
			/>
			<Card
				href="/coffee"
				title="Coffee"
				body="Everything about my favorite drink"
			/>
			<Card
				href="https://plasmatrap.com/@privateger"
				title="Fediverse"
				body="My main online presence"
				newTab
			/>
			<Card
				href="/gallery"
				title="Gallery"
				body="A small collection of images and stuff I commissioned"
			/>
			<Card
				href="/about"
				title="About"
				body="Who am I?"></Card>
		</ul>

		<h2>Webrings</h2>

		<p><Image src={ fediringLogo } alt="Fediring logo" /></p>

		<ul role="list" class="link-card-grid webring-grid">
			<Card
				href="https://fediring.net/previous?host=lattemacchiato.dev"
				title="Previous"
				body="One step back in the ring"
				arrowDirection="left"
			/>
			<Card
				href="https://fediring.net/"
				title="Fediring"
				body="A webring for fedi users"
			/>
			<Card
				href="https://fediring.net/next?host=lattemacchiato.dev"
				title="Next"
				body="One step forward in the ring"
			/>

		</ul>

		<iframe src="https://john.citrons.xyz/embed?ref=lattemacchiato.dev" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>
	</main>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -16px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.webring-grid {
		grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
	}
</style>
